<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>940</integer>
    <key>capHeight</key>
    <integer>0</integer>
    <key>copyright</key>
    <string>none</string>
    <key>descender</key>
    <integer>-235</integer>
    <key>familyName</key>
    <string>Little Character</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2025/06/18 01:35:56</string>
    <key>openTypeHheaAscender</key>
    <integer>970</integer>
    <key>openTypeHheaDescender</key>
    <integer>-279</integer>
    <key>openTypeHheaLineGap</key>
    <integer>106</integer>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameUniqueID</key>
    <string>FontForge 2.0 : Little Character Regular : 18-6-2025</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>4</integer>
      <integer>7</integer>
    </array>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>5</integer>
      <integer>3</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>304</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>58</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>940</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-235</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>106</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>33</integer>
      <integer>35</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>970</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>279</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>LittleCharacterRegular</string>
    <key>postscriptUnderlinePosition</key>
    <integer>-142</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>28</integer>
    <key>postscriptWeightName</key>
    <string>Book</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1175</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>0</integer>
  </dict>
</plist>
